body {
  margin: 0;
  padding:20px;
  min-height: 100vh;
  font-family: "Bangers", cursive;
text-align: center;
  transition: background 2s ease;
}

//--- layout---
.container {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//---components---
#valentineQuestion {
  font-size: clamp(1.5, 5vw, 2.5rem);
  margin-bottom: 4vh;
  transition: color 1.5 ease;
}
.buttonGroup {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.answerButton {
  font-size: 1.2rem;
  padding: 12px, 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.25s ease, background 1.5s ease;
}
#yesButton:hover {
  transform: scale(1.1);
}
.heroImg{
  margin-top: 3vh;
  width: 60vw;
  max-width: 300px;
  height: auto;
}

@media (max-width: 480px) {
  body { padding: 10px; }
  .buttonGroup {
    flex-direction: row;
    gap: 12px;
  }
  .answerButton {
    width: 40%;
    font-size: 1.1rem;
  }
}
